<!DOCTYPE html>
<html>

<head>
    <title>demo</title>
</head>

<body>
    <form method="POST" action="/product/create">   
        <input type="text" placeholder="ten" name="name">
        <input type="number" placeholder="gia" name="gia">
        <input type="text" placeholder="phan loai" name="p_loai">
        <input type="text" placeholder="keyword" name="keyword">
        <button type="submit">Thêm</button>
    </form>
</body>

</html>